$time-picker-control-size: 1.8rem

.islay-form-time-picker
  cursor: pointer
  .time-input-list
    +pos-absolute(100%, -$border-width, false, -$border-width)
    +input-border
    +widget-border-radius
    max-height: 8rem
    background: #FFF
    overflow-x: hidden
    overflow-y: scroll
    z-index: 10
    
    li
      font-size: 0.72rem
      padding: 0.5rem!important
      margin: 0!important

      &:focus,
      &:hover
        background-color: #7EA0E2
        color: #FFF
