- breadcrumb('Asset Library', :asset_library)
- breadcrumb('Tags', :asset_tags)
- breadcrumb(params[:id])

= content(:class => 'inset inset-vertical') do
  = render :partial => 'islay/admin/assets/grid', :locals => {:assets => @assets}
