- breadcrumb('Error')
- breadcrumb('Unauthorized')

= record_name "This page is unavailable", 'hand-paper-o'

= content(:class => 'inset') do
  %p= message
  = link_to('Back to dashboard', :admin_dashboard, class: 'button')
