%ul.key-value
  %li
    %span.key Codec
    %span.value= @asset.audio_codec
    %span.key Bitrate
    %span.value= @asset.audio_bitrate
    %span.key Sample Rate
    %span.value= @asset.audio_sample_rate
    %span.key Channels
    %span.value= @asset.audio_channels
