%ul.key-value
  %li
    %span.key Colour Space
    %span.value= @asset.colorspace
    %span.key Resolution
    %span.value= @asset.resolution
    %span.key Filesize
    %span.value= @asset.filesize
    %span.key Codec
    %span.value= @asset.video_codec
