%ul.key-value
  %li
    %span.key Colour Space
    %span.value= @asset.colorspace
  %li
    %span.key Resolution
    %span.value= @asset.resolution
  %li
    %span.key Filesize
    %span.value= @asset.filesize
  %li
    %span.key Codec
    %span.value= @asset.video_codec
