- sub_header('Assets')

- filter_nav(:assets, 'All')
- filter_nav(:assets, 'Images', 'images')
- filter_nav(:assets, 'Documents', 'documents')
- filter_nav(:assets, 'Videos', 'videos')
- filter_nav(:assets, 'Audio', 'audio')

- sort_nav(:assets, 'Name')
- sort_nav(:assets, 'Created', 'created_at')
- sort_nav(:assets, 'Updated', 'updated_at')

= content do
  = render :partial => 'grid', :locals => {:assets => @assets, :size => 2}
