@import compass/css3/font-face

/* -------------------------------------------------------------------------- */
/* ICONS
/* -------------------------------------------------------------------------- */
+font-face('Icons', font-files('/assets/icons.woff', '/assets/icons.ttf', '/assets/icons.svg'), '/assets/icons.eot')

$icon-names: (folder, album, audio, video, image, document, new, edit, delete)
$icon-chars: (6, 5, 1, 2, 3, 4, '+', 'w', '-')

@for $i from 1 through length($icon-names)
  .#{nth($icon-names, $i)}-icon
    &:before
      font-family: 'Icons'
      content: '#{nth($icon-chars, $i)}'
