@import compass/layout/stretching
@import compass/css3

$header-height: 3.2em
$sub-header-height: 2.8em
$footer-height: 3.2em
$body-margin-top: $header-height + 2em
$body-margin-left: 13.5em

body
  margin: $body-margin-top 2em 0 $body-margin-left + 2em

body.has-footer #content
  margin-bottom: $footer-height + 1em

body.has-sub-header #content
  margin-top: $sub-header-height

/* -------------------------------------------------------------------------- */
/* COLORS
/* -------------------------------------------------------------------------- */
$side-bar-color: #232323

/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */
#main-header
  position: absolute
  left: -1000em

#side-bar
  border-right: 0.1em solid #CCC - 10
  width: $body-margin-left
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 2

  form
    height: $sub-header-height

#header,
#sub-header,
#footer
  position: fixed
  left: $body-margin-left
  right: 0

#header
  top: 0
  height: $header-height
  z-index: 2

#sub-header
  top: $header-height
  height: $sub-header-height
  z-index: 1

#footer
  height: $footer-height
  bottom: 0
  z-index: 1

#content
  width: 100%
  float: left

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
#header
  +background-image(linear-gradient(#F2F2F2, #E4E4E4))
  border-bottom: 0.1em solid #B7B9C6
  text-indent: 1em

  h1
    font-size: 1.2em
    margin: 0.75em 0 0 0
    float: left

  p
    margin: 1.15em 1em 0 0
    float: right

/* -------------------------------------------------------------------------- */
/* SUB HEADER
/* -------------------------------------------------------------------------- */
#sub-header
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-bottom: 0.1em solid #C2CBD5

  h2
    margin-left: 1em

  li, a
    float: left

  a
    margin: 0 1em 0 0

  h2,
  .sub-nav,
  .controls
    margin-top: 0.85em
    float: left

  .sub-nav
    float: left

  .controls
    float: right

/* -------------------------------------------------------------------------- */
/* SIDE BAR
/* -------------------------------------------------------------------------- */
#side-bar
  background: $side-bar-color

  form
    input
      +border-radius(2em)
      +single-box-shadow($side-bar-color - 10, 0, 0, 10px, 0, true)
      color: white
      background: $side-bar-color + 20
      border: 0.2em solid $side-bar-color - 6
      width: $body-margin-left - 1.8em
      margin-left: 1em
      margin-top: 0.8em
      padding: 0.4em 1em

  ul
    width: 88%
    margin-left: 6%
    float: left

  li, a
    width: 100%
    float: left

  a
    color: white !important
    text-decoration: none !important
    padding: 0.5em 0
    text-indent: 2em

/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */
#footer
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-top: 0.1em solid #C2CBD5

/* -------------------------------------------------------------------------- */
/* GRID
/* -------------------------------------------------------------------------- */
$column-count: 12
$gutter-count: $column-count - 1
$gutter-width: 1.5%
$column-width: (100% - $gutter-width * $gutter-count) / $column-count

#content .column
  width: 100%
  float: left

  &:last-child
    margin-right: 0

// Construct the classes for setting the widths of columns
$i: 0
@while $i < $column-count
  $j: $i
  $i: $i + 1
  #content .count-#{$i}
    width: $column-width * $i + $gutter-width * $j
    margin-right: $gutter-width
