@import compass/layout/stretching

$header-height: 2.5em
$footer-height: 2.5em
$body-margin-top: $header-height + 1em
$body-margin-left: 15em

body
  margin: $body-margin-top 1em 0 $body-margin-left + 1em

body.has-footer #content
  margin-bottom: $footer-height + 1em

body.has-sub-header #content
  margin-top: $header-height

/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */
#main-header
  background: #CCC
  width: $body-margin-left
  height: $header-height
  position: fixed
  left: 0
  top: 0
  z-index: 3

#side-bar
  border-right: 0.1em solid #CCC - 10
  background: #CCC + 20
  width: $body-margin-left
  position: fixed
  left: 0
  top: $header-height
  bottom: 0
  z-index: 2

#header,
#sub-header,
#footer
  background: #CCC + 20
  position: fixed
  left: $body-margin-left
  right: 0

#header
  top: 0
  height: $header-height
  z-index: 2

#sub-header
  top: $header-height
  height: $header-height
  z-index: 1

#footer
  height: $footer-height
  bottom: 0
  z-index: 1

#content
  width: 100%
  float: left

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
#header
  h1
    float: left

  p
    float: right

/* -------------------------------------------------------------------------- */
/* SUB HEADER
/* -------------------------------------------------------------------------- */
#sub-header
  h2
    float: left

  li, a
    float: left

  a
    margin: 0 1em 0 0

  .sub-nav
    float: left

  .controls
    float: right

/* -------------------------------------------------------------------------- */
/* SIDE BAR
/* -------------------------------------------------------------------------- */
#side-bar
  form
    height: $header-height

/* -------------------------------------------------------------------------- */
/* GRID
/* -------------------------------------------------------------------------- */
$column-count: 12
$gutter-count: $column-count - 1
$gutter-width: 1.5%
$column-width: (100% - $gutter-width * $gutter-count) / $column-count

#content .column
  width: 100%
  float: left

  &:last-child
    margin-right: 0

// Construct the classes for setting the widths of columns
$i: 0
@while $i < $column-count
  $j: $i
  $i: $i + 1
  #content .count-#{$i}
    width: $column-width * $i + $gutter-width * $j
    margin-right: $gutter-width
