/* -------------------------------------------------------------------------- */
/* ASSET TREE
/* -------------------------------------------------------------------------- */
ul.asset-tree
  border-bottom: 0.1em solid #E1E1E1
  float: left

  li
    border-top: 0.1em solid #E1E1E1

  li, ul
    width: 100%
    float: left

  .album-name,
  .collection-name
    &:before
      padding-right: 0.3em
      font-size: 1.4em

    font-size: 1.2em
    margin-left: 0.2em
    padding: 0.4em 0
    float: left

  .collection-name
    color: #666
    font-weight: bold

  .album-name
    text-decoration: none !important

  .edit, .delete
    margin: 0.8em 0 0 0.5em
    float: right

  li li
    .album-name, .collection-name
      margin-left: 1.3em

  li li li
    .album-name, .collection-name
      margin-left: 2.6em

  li li li li
    .album-name, .collection-name
      margin-left: 3.8em

  li li li li li
    .album-name, .collection-name
      margin-left: 5em

/* -------------------------------------------------------------------------- */
/* ASSET PREVIEW
/* -------------------------------------------------------------------------- */
.asset-preview,
ul.asset-grid li
  +border-radius(0.2em)
  +single-box-shadow(rgba(0, 0, 0, 0.03), 0, 0, 0, 2px)
  background: white
  margin-bottom: 1.5em
  float: left

  .frame
    text-align: center
    margin: 0 0 0 10%
    width: 80%
    margin-top: 1em
    overflow: hidden
    float: left

  .no-preview
    margin-top: 1.3em
    display: block

    &:before
      color: #CCC + 30
      font-size: 5.5em

.asset-preview
  .frame
    margin-bottom: 1em

  .no-preview
    margin: 2em 0
    font-size: 2em

/* -------------------------------------------------------------------------- */
/* ASSET GRID
/* -------------------------------------------------------------------------- */
ul.asset-grid
  width: 100%
  float: left

  li:nth-child(6n)
    margin-right: 0 !important

  .frame,
  .name,
  .type
    margin: 0 0 0 10%
    width: 80%
    float: left

  .frame
    height: 8em

  .name
    +ellipsis(true)
    padding-top: 1em

  .type
    color: #999
    margin-top: 0.3em
    margin-bottom: 1em

    &:before
      margin-right: 0.4em

  a
    text-decoration: none
    color: black !important

#islay-admin-asset-library .asset-grid
  li
    margin-bottom: 0.6em

  li:nth-child(3n)
    margin-right: 0

/* -------------------------------------------------------------------------- */
/* META-DATA / KEY-VALUE
/* -------------------------------------------------------------------------- */
ul.key-value
  border-top: 0.2em solid $light-grey
  width: 30em
  margin-bottom: 1.5em
  float: left

  li
    border-bottom: 0.1em solid $light-grey
    padding: 0.6em 0

  li, .key, .value
    float: left

  .key
    font-weight: bold
    width: 8em

  .value
    width: 22em

  ul li
    padding: 0 0 0.6em 0
    border-width: 0

    &:last-child
      padding-bottom: 0

/* -------------------------------------------------------------------------- */
/* ASSET OVERVIEW
/* -------------------------------------------------------------------------- */
#islay-admin-assets.show #content
  h3, p
    width: 100%
    float: left

