/* -------------------------------------------------------------------------- */
/* ASSET TREE
/* -------------------------------------------------------------------------- */
ul.asset-tree
  border-bottom: 0.1em solid #E1E1E1
  float: left

  li
    border-top: 0.1em solid #E1E1E1

  li, ul
    width: 100%
    float: left

  .collection-name, a
    padding: 0.5em 0

  .album-name, .collection-name
    padding-left: 1em
    float: left

  .edit, .delete
    margin-left: 0.5em
    float: right

  li li
    .album-name, .collection-name
      margin-left: 2em

  li li li
    .album-name, .collection-name
      margin-left: 4em

  li li li li
    .album-name, .collection-name
      margin-left: 6em

  li li li li li
    .album-name, .collection-name
      margin-left: 8em

/* -------------------------------------------------------------------------- */
/* ASSET GRID
/* -------------------------------------------------------------------------- */
ul.asset-grid
  width: 100%
  float: left

  li
    +border-radius(0.2em)
    +single-box-shadow(rgba(0, 0, 0, 0.03), 0, 0, 0, 2px)
    background: white
    margin-bottom: 1.5em
    float: left

    &:nth-child(6n)
      margin-right: 0 !important

  .frame,
  .name,
  .type
    margin: 0 0 0 10%
    width: 80%
    float: left

  .frame
    text-align: center
    height: 8em
    margin-top: 1em
    overflow: hidden

  .name
    +ellipsis(true)
    padding-top: 1em

  .type
    color: #999
    margin-top: 0.3em
    margin-bottom: 1em

  a
    text-decoration: none
    color: black !important
