- sub_header('Category', @asset_category.name)

= content do
  %ul
    - @asset_category.assets.each do |asset|
      %li
        = image_tag(asset.upload.url(:admin_thumb_small))
        = link_to(asset.name, path(asset))
        (#{asset.kind})

