!!!
%html
  %head
    %title Islay
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    = stylesheet_link_tag('islay/application')

  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div#side-bar
      %ul
        %li= link_to('Dashboard', path(:dashboard))
        %li= link_to('Users', path(:users))

    = yield
