%ul.islay-add-item-menu
  - Islay::Engine.extensions.each(:add_item_entries) do |entry|
    %li
      %a{:href => path(:new, entry[:route])}
        %i{:class => "icon-#{entry[:icon]}"}
        %strong= entry[:title]

  %li
    %a{:href => path(:new, :user)}
      %i.icon-user
      %strong User
