#islay-admin-dashboard .cell,
.report-cell
  +border-radius(0.4em)
  +single-box-shadow(rgba(0, 0, 0, 0.03), 0, 0, 0, 2px)
  border: 0.1em solid $light-grey
  margin-bottom: 1em
  width: 100%
  float: left

  ul, li
    clear: both
    min-height: 2em

  li
    padding-left: 0.5em

    .key,
    strong
      line-height: 1.6

    .value,
    .indicator
      min-width: 1.1em
      margin-right: 0.6em

  h3
    background-color: $light-grey + 20
    border-bottom: 0.1em solid $light-grey
    padding: 0.7em 0 0.6em 0
    margin-bottom: 0 !important
    text-indent: 0.9em

#activity-logs
  a
    +border-radius(0.2em)
    background-color: $light-grey + 20
    border: 0.1em solid $light-grey - 15
    padding: 0.5em
    color: inherit !important
    text-decoration: none
    float: left

    strong
      font-weight: bold

      &:before
        font-family: Icons
        font-weight: normal
        font-size: 1.2em
        margin-right: 0.4em

  .asset-log a
    background-color: #CFFFC8

    strong
      +icon-picture

  .order-log a
    background-color: #FFE1BA

    strong
      +icon-shopping-cart

  .stock-log a strong
    +icon-retweet

  .price_change-log a strong
    +icon-money

  .sku-log a strong,
  .product-log a strong
    +icon-barcode

  .product_category-log a strong
    +icon-folder-close

  .stock-log a,
  .price_change-log a,
  .sku-log a,
  .product-log a,
  .product_category-log a
    background-color: #DBF0FF

  .user-log a strong
    +icon-user

  .blog_entry-log a
    background-color: #F2E6FF

    strong
      +icon-bullhorn
