/* -------------------------------------------------------------------------- */
/* PAGE FEATURES
/* -------------------------------------------------------------------------- */
.islay-page-features
  .feature
    position: relative

  legend
    text-transform: none !important
    font-size: 1.6em
    margin-left: 4.4em
    margin-top: 0.2em
    cursor: pointer

  // Position the toggles
  .published-flag,
  .position,
  .destroy
    width: auto !important
    position: absolute

  .published-flag
    left: 0

  .position
    right: 5em

  .destroy
    right: 0

  // Hide some labels
  .position,
  .published-flag
    label
      display: none
