%ul{:class => "filters fold-true"}
  %li.filter-label Show
  - filters.each do |name, url, current|
    %li
      - if current
        = link_to(name, url, :class => 'current')
      - else
        = link_to(name, url)
