.islay-form-errors
  %i.icon.fa.fa-warning
  %h3 Couldn’t #{object.new_record? ? "create your new #{object.class.name.humanize}" : 'save your changes'}
  %p
    Please check the
    %span highlighted fields
    for more information.
