- sub_header('Delete Confimation')

= resource_form(@record, :method => :delete) do |f|
  = content do
    %h3 Delete this Record?
    %p This action cannot be undone.
    - unless request.xhr?
      = cancel_button(nil, @cancel_url)
      = button_tag('Delete', :class => 'delete')
