- sub_header('Delete Confimation')

= resource_form(@product, :method => :delete) do |f|
  = content do
    %h3 Delete this Record?
    %p This action cannot be undone.
    = cancel_button(nil, @cancel_url)
    = button_tag('Delete', :class => 'delete')
