- breadcrumb('Delete Confimation')

= resource_form(@resource, :method => :delete) do |f|
  = content do
    %h3 Really delete this record?
    %p This action can't be undone.
    - unless request.xhr?
      = cancel_button(nil, @cancel_url)
      = button_tag('Delete', :class => 'delete')
