%ul
  - @asset_group.assets.each do |asset|
    %li
      - if asset.preview.present?
        = image_tag(asset.preview.url(:thumb_small))
      = link_to(asset.name, path(asset))
      (#{asset.kind})
