- breadcrumb('Asset Library', :asset_library)
- breadcrumb('Collections', :asset_groups)

= content do
  = render :partial => 'islay/admin/asset_groups/table'

= footer do
  = new_button('Collection', :asset_group)
