- sub_header('Asset Collections')

= content(:class => 'inset') do
  %h3 Latest Uploads
  = render :partial => 'islay/admin/assets/grid', :locals => {:assets => @latest_assets}

  %h3 Collections
  %table
    %thead
      %tr
        %th Name
        %th Assets
        %th Last Update

    %tbody
      - @groups.each do |group|
        = render :partial => 'group', :locals => {:group => group, :level => 0}

