- sub_header('Album', @asset_group.name)
- control('Asset', path(:new, :asset, @asset_group), :new)
- control('Edit', path(:edit, @asset_group), :edit)
- control('Delete', path(:delete, @asset_group), :delete)

= content do
  = render :partial => "#{@asset_group.kind}_list"
