- sub_nav('Overview', path(:asset_library), :root => true, :class => 'overview')
- sub_nav('Collections', path(:asset_collections), :class => 'folder')
- sub_nav('Assets', path(:assets), :class => 'assets')
- sub_nav('Tags', path(:asset_tags), :class => 'tags')

- control('Collection', path(:new, :asset_collection), :new)
- control('Album', path(:new, :asset_album), :new)
- control('Asset', path(:new, :asset), :new)
