- sub_nav('Overview', path(:asset_library), :root => true, :class => 'icon-eye')
- sub_nav('Collections', path(:asset_collections), :class => 'icon-th')
- sub_nav('Assets', path(:assets), :class => 'icon-picture')

- control('Collection', path(:new, :asset_collection), :new)
- control('Album', path(:new, :asset_album), :new)
- control('Asset', path(:new, :asset), :new)
- control('Bulk Upload', path(:bulk, :assets), :new)
