- sub_nav('Overview', path(:asset_library), :root => true, :class => 'icon-home')
- sub_nav('All', path(:assets), :class => 'icon-th')
- sub_nav('Images', path(:image_assets), :class => 'icon-picture')
- sub_nav('Documents', path(:document_assets), :class => 'icon-doc-text')
- sub_nav('Video', path(:video_assets), :class => 'icon-video')
- sub_nav('Audio', path(:audio_assets), :class => 'icon-music')

- control('Collection', path(:new, :asset_collection), :new)
- control('Album', path(:new, :asset_album), :new)
- control('Asset', path(:new, :asset), :new)
- control('Bulk Upload', path(:bulk, :assets), :new)
