@import compass/css3/font-face

/* -------------------------------------------------------------------------- */
/* NUMERALS
/* -------------------------------------------------------------------------- */
+font-face('Dosis Medium', font-files('/assets/dosis-medium.woff', '/assets/dosis-medium.ttf', '/assets/dosis-medium.svg'), '/assets/dosis-medium.eot')

/* -------------------------------------------------------------------------- */
/* ICONS
/* -------------------------------------------------------------------------- */
+font-face('icons', font-files('/assets/icons.woff', '/assets/icons.ttf', '/assets/icons.svg'), '/assets/icons.eot')

@mixin icon-plus
  &:before
    content: "+"

@mixin icon-minus
  &:before
    content: "-"

@mixin icon-info
  &:before
    content: "ℹ"

@mixin icon-left
  &:before
    content: "←"

@mixin icon-up
  &:before
    content: "↑"

@mixin icon-right
  &:before
    content: "→"

@mixin icon-down
  &:before
    content: "↓"

@mixin icon-level-down
  &:before
    content: "↳"

@mixin icon-home
  &:before
    content: "⌂"

@mixin icon-keyboard
  &:before
    content: "⌨"

@mixin icon-hourglass
  &:before
    content: "⏳"

@mixin icon-up-dir
  &:before
    content: "▴"

@mixin icon-right-dir
  &:before
    content: "▸"

@mixin icon-down-dir
  &:before
    content: "▾"

@mixin icon-left-dir
  &:before
    content: "◂"

@mixin icon-cloud
  &:before
    content: "☁"

@mixin icon-star
  &:before
    content: "★"

@mixin icon-star-empty
  &:before
    content: "☆"

@mixin icon-th-list
  &:before
    content: "☰"

@mixin icon-moon
  &:before
    content: "☽"

@mixin icon-heart-empty
  &:before
    content: "♡"

@mixin icon-heart
  &:before
    content: "♥"

@mixin icon-music
  &:before
    content: "♪"

@mixin icon-th
  &:before
    content: "⚏"

@mixin icon-flag
  &:before
    content: "⚑"

@mixin icon-cog
  &:before
    content: "⚙"

@mixin icon-attention
  &:before
    content: "⚠"

@mixin icon-flash
  &:before
    content: "⚡"

@mixin icon-mail
  &:before
    content: "✉"

@mixin icon-pencil
  &:before
    content: "✎"

@mixin icon-feather
  &:before
    content: "✒"

@mixin icon-ok
  &:before
    content: "✓"

@mixin icon-cancel
  &:before
    content: "✕"

@mixin icon-cancel-circle
  &:before
    content: "✖"

@mixin icon-help
  &:before
    content: "❓"

@mixin icon-quote-right
  &:before
    content: "❞"

@mixin icon-plus-circle
  &:before
    content: "➕"

@mixin icon-minus-circle
  &:before
    content: "➖"

@mixin icon-right-thin
  &:before
    content: "➡"

@mixin icon-direction
  &:before
    content: "➢"

@mixin icon-forward
  &:before
    content: "➦"

@mixin icon-ccw
  &:before
    content: "⟲"

@mixin icon-cw
  &:before
    content: "⟳"

@mixin icon-left-thin
  &:before
    content: "⬅"

@mixin icon-up-thin
  &:before
    content: "⬆"

@mixin icon-down-thin
  &:before
    content: "⬇"

@mixin icon-list-add
  &:before
    content: ""

@mixin icon-left-bold
  &:before
    content: ""

@mixin icon-right-bold
  &:before
    content: ""

@mixin icon-up-bold
  &:before
    content: ""

@mixin icon-down-bold
  &:before
    content: ""

@mixin icon-user-add
  &:before
    content: ""

@mixin icon-help-circle
  &:before
    content: ""

@mixin icon-info-circle
  &:before
    content: ""

@mixin icon-back
  &:before
    content: ""

@mixin icon-back-alt
  &:before
    content: ""

@mixin icon-eye
  &:before
    content: ""

@mixin icon-tag
  &:before
    content: ""

@mixin icon-upload-cloud
  &:before
    content: ""

@mixin icon-reply
  &:before
    content: ""

@mixin icon-reply-all
  &:before
    content: ""

@mixin icon-code
  &:before
    content: ""

@mixin icon-export
  &:before
    content: ""

@mixin icon-print
  &:before
    content: ""

@mixin icon-retweet
  &:before
    content: ""

@mixin icon-comment
  &:before
    content: ""

@mixin icon-chat
  &:before
    content: ""

@mixin icon-vcard
  &:before
    content: ""

@mixin icon-address
  &:before
    content: ""

@mixin icon-location
  &:before
    content: ""

@mixin icon-map
  &:before
    content: ""

@mixin icon-compass
  &:before
    content: ""

@mixin icon-trash
  &:before
    content: ""

@mixin icon-archive
  &:before
    content: ""

@mixin icon-rss
  &:before
    content: ""

@mixin icon-share
  &:before
    content: ""

@mixin icon-basket
  &:before
    content: ""

@mixin icon-volume
  &:before
    content: ""

@mixin icon-resize-full
  &:before
    content: ""

@mixin icon-resize-small
  &:before
    content: ""

@mixin icon-publish
  &:before
    content: ""

@mixin icon-window
  &:before
    content: ""

@mixin icon-down-circle2
  &:before
    content: ""

@mixin icon-left-circle2
  &:before
    content: ""

@mixin icon-right-circle2
  &:before
    content: ""

@mixin icon-up-circle2
  &:before
    content: ""

@mixin icon-down-open
  &:before
    content: ""

@mixin icon-left-open
  &:before
    content: ""

@mixin icon-right-open
  &:before
    content: ""

@mixin icon-up-open
  &:before
    content: ""

@mixin icon-signal
  &:before
    content: ""

@mixin icon-net
  &:before
    content: ""

@mixin icon-inbox
  &:before
    content: ""

@mixin icon-install
  &:before
    content: ""

@mixin icon-lifebuoy
  &:before
    content: ""

@mixin icon-bag
  &:before
    content: ""

@mixin icon-globe
  &:before
    content: "𝌍"

@mixin icon-picture
  &:before
    content: "🌄"

@mixin icon-mic
  &:before
    content: "🎤"

@mixin icon-video
  &:before
    content: "🎬"

@mixin icon-target
  &:before
    content: "🎯"

@mixin icon-music-alt
  &:before
    content: "🎵"

@mixin icon-top-list
  &:before
    content: "🏆"

@mixin icon-thumbs-up
  &:before
    content: "👍"

@mixin icon-user
  &:before
    content: "👤"

@mixin icon-users
  &:before
    content: "👥"

@mixin icon-lamp
  &:before
    content: "💡"

@mixin icon-monitor
  &:before
    content: "💻"

@mixin icon-cd
  &:before
    content: "💿"

@mixin icon-folder
  &:before
    content: "📁"

@mixin icon-doc-text
  &:before
    content: "📄"

@mixin icon-calendar
  &:before
    content: "📅"

@mixin icon-attach
  &:before
    content: "📎"

@mixin icon-book-open
  &:before
    content: "📖"

@mixin icon-phone
  &:before
    content: "📞"

@mixin icon-upload
  &:before
    content: "📤"

@mixin icon-download
  &:before
    content: "📥"

@mixin icon-mobile
  &:before
    content: "📱"

@mixin icon-camera
  &:before
    content: "📷"

@mixin icon-light-down
  &:before
    content: "🔅"

@mixin icon-light-up
  &:before
    content: "🔆"

@mixin icon-search
  &:before
    content: "🔍"

@mixin icon-search-alt
  &:before
    content: "🔎"

@mixin icon-lock
  &:before
    content: "🔒"

@mixin icon-lock-open
  &:before
    content: "🔓"

@mixin icon-bell
  &:before
    content: "🔔"

@mixin icon-bookmark
  &:before
    content: "🔖"

@mixin icon-link
  &:before
    content: "🔗"

@mixin icon-clock
  &:before
    content: "🕔"

@mixin icon-block
  &:before
    content: "🚫"
