/* -------------------------------------------------------------------------- */
/* FORM
/* -------------------------------------------------------------------------- */
$border-width: 0.1em
$input-v-padding: 0.45em
$input-h-padding: 0.6em
$field-margin: 1em
$field-height: $border-width * 2 + $input-v-padding * 2 + 1em
$form-inset-color: $light-grey + 20

#islay-form
  #content
    +border-radius(0.3em)
    +single-box-shadow(rgba(0, 0, 0, 0.05), 0, 0, 0, 2px)
    background: white
    border: 0.1em solid #CCC
    margin: 1em 0 0 1.5%
    width: 97%

  fieldset,
  .tabset
    border-top: 0.15em solid $light-grey
    padding-top: $field-margin
    width: 100%
    float: left

  fieldset.primary
    border-top-width: 0
    background: $form-inset-color

  legend
    +text-shadow(-1px -1px 0 rgba(0, 0, 0, 0.1))
    text-transform: uppercase
    font-weight: bold
    text-indent: 1em
    color: #666
    margin-bottom: $field-margin
    width: 100%
    float: left

  input,
  select,
  textarea
    font-size: 1em
    float: left

  fieldset.member-tree legend,
  label
    padding-top: $border-width + $input-v-padding
    text-align: right
    margin-right: 1em
    color: #606D7B !important
    font-weight: bold
    width: 8em
    float: left

  .field
    margin-bottom: $field-margin
    width: 100%
    float: left
    overflow: visible

    &.text,
    &.select
      height: auto

  select
    margin-top: 0.8em

  input:focus
    outline: none

  .count-inline,
  .count-first-inline
    width: auto

    label
      margin-left: 1em
      width: auto

  .count-first-inline label
    width: 8em
    margin-left: 0

form
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=url],
  input[type=tel],
  input[type=number],
  textarea
    +border-radius(0.2em)
    +background-image(linear-gradient(#CFCFCF 0, #FAFAFA 3px))
    +single-box-shadow(rgba(0, 0, 0, 0.06), -1px, -1px, 0, 0)
    width: 32em
    border: 0.1em solid #B6B9BC
    padding: $input-v-padding $input-h-padding
    float: left

  .small
    width: 5em !important

/* -------------------------------------------------------------------------- */
/* FANCY WIDGETS
/* -------------------------------------------------------------------------- */
$widget-border-color: #B3BBC3
$widget-border-radius: 0.33em
$widget-width: 32em + ($input-h-padding * 2)
$widget-height: 1.1005em + ($input-v-padding * 2) + ($border-width * 2)

@mixin input-border
  border: $border-width solid $widget-border-color

@mixin widget-gradient
  +background-image(linear_gradient(white, $light-grey))

@mixin widget-border-radius($portions: all)
  @if $portions == all
    +border-radius($widget-border-radius)
  @else if $portions == left
    +border-left-radius($widget-border-radius)
  @else if $portions == right
    +border-right-radius($widget-border-radius)
  @else if $portions == bottom
    +border-bottom-radius($widget-border-radius)
  @else if $portions == top
    +border-top-radius($widget-border-radius)

.widget
  cursor: default
  width: $widget-width
  float: left
  position: relative

  .frame
    height: $widget-height
    float: left

  .button
    padding: 0 $input-h-padding + 0.3em
    height: $widget-height

  .selected
    +single-box-shadow(rgba(0, 0, 0, 0.35), 2px, 2px, 3px, 0, true)
    background: #4D69A2 !important
    border-color: #4D69A2 !important

    span
      color: white !important

.widget.select,
.widget.boolean
  .button span
    color: #72828E
    font-family: 'Icons'
    font-size: 1.2em
    margin-top: 0.55em
    display: block

.widget.select .frame,
.widget.checkboxes .button
  +widget-gradient
  +widget-border-radius
  +input-border

.widget.select .frame
  width: 100%

/* SIMPLE SELECT */
.widget.select
  .button,
  .display

  .display
    padding: $input-v-padding + 0.2em
    padding-left: $input-h-padding
    float: left

  .button
    +background-image(linear-gradient(#F4F4F5, #CFD2D6))
    +border-right-radius(0.33em)
    border-left: $border-width solid $widget-border-color
    float: right

  .list
    +input-border
    +widget-border-radius(bottom)
    background: white
    padding: 0.4em 0
    width: 100%
    position: absolute
    left: 0
    top: $widget-height + 0.1em
    display: none
    z-index: 2

    li
      display: block
      padding: 0.4em $input-h-padding

.widget.select.open
  .button
    border-color: transparent
    background: transparent

/* BOOLEAN & SEGMENTED */
.widget.boolean,
.widget.segmented
  width: auto

  li
    +widget-gradient
    +input-border
    float: left

/* BOOLEAN */
.widget.boolean
  .optionOff
    +widget-border-radius(left)
    border-right-width: 0

  .optionOn
    +widget-border-radius(right)

  .selected.optionOff
    +single-box-shadow(rgba(0, 0, 0, 0.20), 2px, 2px, 3px, 0, true)
    background: #9A9A9A !important
    border-color: #959595 !important

/* SEGMENTED */
.widget.segmented
  width: auto

  span
    margin-top: 0.65em
    display: block

  li
    border-left-width: 0

  li:first-child
    +widget-border-radius(left)
    border-left-width: $border-width

  li:last-child
    +widget-border-radius(right)

/* CHECKBOXES */
.widget.checkboxes
  width: auto

  li
    margin-right: 0.6em
    padding-left: 0.5em
    float: left

  span
    background: left center no-repeat url(image-path('islay/admin/checkbox.png'))
    padding: 0.65em 0 0.65em 21px
    display: block

  li.selected span
    background-image: url(image-path('islay/admin/checkbox-selected.png'))

.associated
  position: relative

/* DELETE & POSITION */
.widget.delete,
.widget.position
  width: auto !important
  position: absolute
  top: 1em

  div
    background: #999999
    color: white
    width: 2em
    height: 1.8em
    float: left

  span
    font-family: 'Icons'
    font-size: 1.2em
    display: block
    text-align: center
    margin-top: 0.2em

/* DELETE */
.widget.delete
  right: 6em

  div
    +widget-border-radius

/* POSITION */
.widget.position
  right: 1em

  div.up
    +widget-border-radius(left)

  div.down
    +widget-border-radius(right)
    margin-left: 0.1em

/* MULTI-ASSETS */
.widget.multi-assets
  width: auto

  ul
    float: left

  li
    +border-radius(0.5em)
    border: 0.1em solid $widget-border-color
    overflow: hidden
    margin-right: 1em
    width: 150px
    height: 130px
    float: left

  .add
    cusor: pointer

/* -------------------------------------------------------------------------- */
/* TAB SET
/* -------------------------------------------------------------------------- */
.tabset li
  font-weight: bold
  border: $border-width solid transparent
  padding: 0.8em 1.5em
  margin-bottom: -$border-width
  cursor: default
  float: left

  &.selected
    +widget-border-radius(top)
    background: white
    border-color: $widget-border-color
    border-bottom-color: white !important

  &:first-child
    margin-left: 1.5em

/* -------------------------------------------------------------------------- */
/* ERROR FLAGS
/* -------------------------------------------------------------------------- */
span.error
  +border-radius(0 0.2em 0.2em 0)
  background: left center no-repeat image-url('islay/admin/error-tag.png')
  color: white
  padding: $input-v-padding 0.6em $input-v-padding 1.3em
  margin: 0.35em 0 0 1em
  float: left


/* -------------------------------------------------------------------------- */
/* MEMBER TREE
/* -------------------------------------------------------------------------- */
fieldset.member-tree
  border: 0
  width: 100%
  height: auto
  float: left

  legend
    text-indent: 0
    text-transform: none
    font-weight: normal

  ul.top
    +border-radius(0.3em)
    +single-box-shadow(rgba(0, 0, 0, 0.08), 1px, 1px, 2px, 0, true)
    background: $form-inset-color + 10
    border: $border-width solid $light-grey
    float: left
    width: 25em

  li, label
    float: left
    width: 25em

  li
    border-top: $border-width solid $light-grey + 15

  input
    margin-right: 0.6em
    margin-left: 1em

  label
    text-align: left
    margin: 0
    padding: 0.3em 0

  li li
    input
      margin-left: 2.6em
