
/* -------------------------------------------------------------------------- */
/* BODY SIZING
/* -------------------------------------------------------------------------- */
body
  background: $body-color
  color: $text-color
  margin: $sub-header-height 0 0 $body-margin-left

body.has-footer #content
  margin-bottom: $footer-height + 1em !important

/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */
.islay-layout-app-name
  position: absolute
  left: -1000em

.islay-layout-nav
  width: $body-margin-left
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 2

.islay-layout-header,
#footer
  position: fixed
  left: $body-margin-left
  right: 0

.islay-layout-header,
  height: $sub-header-height
  top: 0
  z-index: 2

#footer
  height: $footer-height
  bottom: 0
  z-index: 2

#content
  float: left
  position: relative
  width: 100%
  z-index: 1

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
.islay-layout-header
  +background-image($dimension-raised-subtle)
  +box-shadow(0 0.1em 0.6em rgba(0,0,0,0.1))
  background-color: #FFF
  border-top: 0.1em solid $header-border-color
  border-bottom: 0.1em solid $header-border-color

  h2
    position: absolute
    left: -1000em

  h2,
  .breadcrumb
    +islay-text-engraved
    color: $dark-grey
    float: left
    font-weight: bold
    font-size: 1.2em
    margin-left: 0.6em
    margin-top: 0.7em

    strong
      color: $mid-grey

  .breadcrumb
    li
      display: inline-block

      &:after
        +islay-text-inset
        content: '❯'
        font-size: 0.75em
        line-height: 1.2
        margin-right: 0.6em
        padding-left: 0.75em
        vertical-align: -0.1em

      &:last-child
        span, a
          color: $text-color + 20 !important

        &:after
          content: none
    a
      color: $dark-grey
      display: inline-block
      text-decoration: none

  .statuses
    border-bottom: 0
    float: right
    margin-top: 0.75em
    margin-right: 1em
    width: auto

    li
      float: left

    .key
      display: none

    .value
      +border-radius(0.2em)
      +background-image($dimension-dished)
      padding: 0.3em 0.55em 0.2em 0.55em
      margin-left: 0.5em


/* -------------------------------------------------------------------------- */
/* FILTERS
/* Filters listings of records
/* -------------------------------------------------------------------------- */
.islay-layout-header,
.dialog
  ul.filters,
  ul.sort
    margin: 0.6em 1em 0 0.5em
    float: right

    &:before
      color: $dark-grey
      font-weight: bold
      margin-top: 0.45em
      float: left

    li, a
      float: left

    a
      +border-radius(0.3em)
      +unstyled-link
      border: 1px solid transparent
      color: $dark-grey
      display: block
      margin-left: 0.6em
      padding: 0.35em 0.6em 0.25em 0.6em
      text-align: center
      display: none

      &:hover,
      &:focus
        background-color: #FFF

      &:active
        +background-image($dimension-sunken)
        background-color: $mid-grey
        color: #FFF

      &.current,
      &.current:hover,
      &.current:focus
        +box-shadow(rgb(255,255,255) 0 1px 0 0)
        +background-image($dimension-dished)
        border-color: $light-grey - 20 !important
        color: #222
        background-color: $light-grey
        display: block

    &:hover,
    &.fold-false
      a
        border-color: $light-grey

    &:hover,
    &.fold-false
      a
        display: block

  ul.sort:before
    content: "Sort"

  ul.filters
    li
      position: relative

    .link
      margin-right: 0.4em
      float: left

    .count
      +border-radius(0.3em)
      background: $positive-color
      color: white
      font-size: 0.85em
      padding: 0.2em 0.4em
      float: right

    &:before
      content: "Show"

/* -------------------------------------------------------------------------- */
/* NAVIGATION
/* -------------------------------------------------------------------------- */
$nav-color: #333333
$nav-width: 16em
$collapsed-nav-width: 3.5em

.islay-layout-nav
  background-color: $nav-color
  color: white
  width: $nav-width

  li
    width: 100%
    float: left

  a,
  a:visited,
  a:hover
    color: white
    text-decoration: none

  // Shared styles
  .entry,
  .search-entry
    border: 0.1em solid transparent
    border-radius: 0.1em
    margin: 0.3em 0.3em
    height: 2.2em
    display: block
    overflow: hidden

    strong
      margin-top: 0.45em
      font-size: 1.2em
      display: block

.islay-main-nav
  background: #232323
  width: $collapsed-nav-width
  height: 100%
  position: absolute
  left: 0
  top: 0
  z-index: 2

  [class^="icon-"]
    text-align: center
    font-size: 1.6em
    width: 1.65em
    line-height: 1
    position: absolute
    left: 0
    top: 0.2em

  .entry
    position: relative

    strong
      text-indent: 2.4em
      white-space: nowrap

  .search-entry
    height: auto

    strong
      margin-left: 1em

    span
      margin: 0.2em 0 0.6em 1.2em
      display: block

  .islay-global-search 
    height: 2.7em
    overflow: hidden
    border-bottom: 0.1em solid transparent

    input
      border-width: 0
      font-family: inherit
      background: transparent
      color: white
      font-size: 1.2em
      margin-left: 2.6em
      width: 10em
      padding: 0.6em 0 0 0
      outline: none

    i
      margin: 0.15em 0 0 0.2em

    .close
      left: auto
      margin-top: 0.25em
      right: 0 !important
      opacity: 0

  .islay-current-user
    position: absolute
    bottom: 0
    width: 100%

    strong
      text-indent: 0.4em
      float: left

    // TODO: This might have to be removed in the future i.e. when selectors 
    // are less promiscuous.
    button 
      border-width: 0
      font-weight: normal
      background: transparent
      text-shadow: none
      margin: 0.4em 0 0 0
      padding: 0
      float: right

      i
        position: static
        color: white

      span
        position: absolute
        left: -1000em

// Sub Navigation
.islay-sub-nav
  position: absolute
  left: $collapsed-nav-width
  top: 0
  width: $nav-width - $collapsed-nav-width
  height: 100%
  z-index: 1

  .entry strong
    margin-left: 0.4em

// Main Navigation states
.islay-main-nav
  -webkit-transition: width 0.1s ease-out 0

  // Default state
  .entry strong,
  .islay-global-search input,
  .islay-current-user button
    -webkit-transition: opacity 0.3s ease 0
    opacity: 0

  .islay-global-search
    -webkit-transition: background-color 0.1s ease-in 0

  // Open state
  &.open,
  &:hover
    width: $nav-width

    .entry strong,
    .islay-global-search input,
    .islay-global-search .close,
    .islay-current-user button
      opacity: 1

    .islay-global-search 
      background: $nav-color
      border-color: #444

    .islay-current-user .icon-user
      display: none

  &.searching .entry
    display: none

// Current Highlight
.islay-layout-nav 
  .current,
    background: #1D86BF
    border-color: #23A1E6

  li:hover .entry,
  .islay-global-search-results li:hover .search-entry
    color: #23A1E6 + 30

  li:hover .current,
  .islay-global-search-results li:hover .current
    color: white

/* -------------------------------------------------------------------------- */
/* ADD ITEM DIALOG
/* A little dialog that pops up with options for the user to add items.
/* -------------------------------------------------------------------------- */
.islay-add-item-menu
  width: 100%
  float: left

  li
    border-bottom: 0.1em solid $light-grey
    width: 100%
    float: left

  a
    +unstyled-link
    color: $link-color !important
    text-decoration: none !important
    padding: 0.8em 1.2em
    display: block

    &:hover
      color: white !important
      background: $link-color

  i
    text-align-center
    width: 1.1em
    font-size: 1.6em
    display: inline-block !important

  strong
    font-size: 1.4em

/* -------------------------------------------------------------------------- */
/* RECORD NAME
/* To be displayed in at the top of record overviews and forms.
/* -------------------------------------------------------------------------- */
.islay-record-name
  margin-left: 2%
  width: 96%
  padding: 1.6em 0 1.4em 0
  border-bottom: 0.1em solid $header-border-color

  i
    font-size: 2em
    padding-right: 0.3em

  span
    font-weight: bold
    font-size: 2em

/* -------------------------------------------------------------------------- */
/* INSET CONTENT
/* -------------------------------------------------------------------------- */
#content.inset
  margin-left: 2%
  width: 96%

  table
    border: 0.1em solid $header-border-color
    margin-left: 0
    width: 100%

  h3
    border-top: 0.1em solid $header-border-color
    margin-top: 1.5em
    padding-top: 1.5em

#content.inset-vertical
  margin-top: 2em

/* -------------------------------------------------------------------------- */
/* GENERAL PURPOSE CLEAR/GROUP
/* -------------------------------------------------------------------------- */
.panel
  +clear-fix

/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */
#footer,
.table-footer
  +background-image(linear-gradient(#FFFFFF, #ECECEC))

  .default-controls,
  .selection-controls
    float: left
    height: 100%
    width: 100%

  .default-controls
    display: block

  .selection-controls
    display: none

  .button, button
    margin: 0.6em 0 0 1em

  .new
    color: $dark-grey

  .edit,
  .delete,
  .save
    float: right
    margin: 0.6em 1em 0 0

  .move-up,
  .move-down
    margin: 0.5em 0 0 0
    float: left
    padding-right: 0.2em

    span
      +hide

    &:before
      font-family: Icons

  .move-up
    +icon-caret-up
    +border-top-left-radius(0)
    +border-bottom-left-radius(0)
    border-left-color: $button-secondary-color + 20

  .move-down
    +icon-caret-down
    +border-top-right-radius(0)
    +border-bottom-right-radius(0)
    border-left-width: 0

.selection-controls
  +background-image(linear-gradient($selected-background-color + 80, $selected-background-color + 60))

  .position-controls
    float: left
    padding-left: 1em
    label
      float: left
      font-size: 0.9em
      color: #FFF
      padding: 1.35em 1em 0 0

#footer
  border-top: 0.1em solid #C2CBD5

.table-footer
  float: left
  margin-left: 2%
  width: 95.9%
  .position-controls
    padding-bottom: 0.5em

.has-selection
  #footer,
  .table-footer
    .default-controls
      display: none

    .selection-controls
      display: block

/* -------------------------------------------------------------------------- */
/* GRID
/* -------------------------------------------------------------------------- */
$column-count: 12
$gutter-count: $column-count - 1
$gutter-width: 1.5%
$column-width: (100% / $column-count) - $gutter-width

#content
  .column
    width: 100%
    float: left

    &:last-child
      margin-right: 0

  .last
    margin-right: 0 !important

// Construct the classes for setting the widths of columns
$i: 0
@while $i < $column-count
  $j: $i
  $i: $i + 1
  #content .count-#{$i}
    width: $column-width * $i + ($gutter-width * $j)
    margin-right: $gutter-width

/* -------------------------------------------------------------------------- */
/* BUTTONS
/* Button face colors:
/* $button-text-color: #FFF
/* $button-primary-color: #2C5A8D
/* $button-secondary-color: #E1E1E1
/* $button-positive-color: #39A22B
/* $button-negative-color: #C42217
/* -------------------------------------------------------------------------- */
a.button,
button
  +border-radius(0.3em)
  +background-image($dimension-raised)
  +box-shadow(rgba(0, 0, 0, 0.05), -1px -1px 1px)
  +islay-text-engraved
  +transition(background-image, 0.5s)
  font-family: $default-font-family
  background-color: $button-secondary-color
  color: #222!important
  cursor: pointer
  font-weight: bold
  border: 0.1em solid $button-secondary-color - 40
  padding: 0.5em 0.8em 0.35em 0.6em
  float: left

  &:hover,
  &:focus
    +background-image($dimension-raised-active)
    text-decoration: none

  &:active
    +text-shadow(none)
    +background-image($dimension-sunken)

  &:before
    font-family: icons
    font-weight: normal
    font-size: 1.1em
    padding-right: 0.4em
    color: $dark-grey

button
  font-size: 1em
  padding: 0.45em 0.8em 0.3em 0.6em

.button
  &.new
    +icon-plus-sign

  &.upload
    +icon-circle-arrow-up

  &.edit
    +icon-pencil

  &.delete
    +icon-minus-sign

button.save,
.button.delete,
.button.edit
  +text-shadow(rgba(0, 0, 0, 0.3) -1px -1px 2px)
  color: white!important

  &:before
    color: white!important

button.save
  +icon-bolt
  background-color: $button-positive-color
  font-size: 1em
  border-color: $button-positive-color - 30

.button.delete
  background-color: $button-negative-color
  border-color: $button-negative-color - 30

.button.edit
  background-color: $button-primary-color
  border-color: $button-primary-color - 30

a.button
  text-decoration: none

/* -------------------------------------------------------------------------- */
/* INDICATOR
/* For statuses and counts.
/* -------------------------------------------------------------------------- */
span.indicator
  +border-radius(0.2em)
  text-transform: uppercase
  background-color: $mid-grey
  color: white
  text-align: center
  font-family: $alternate-font-family
  padding: 0.3em 0.4em
  float: left

  &.neutral
    background-color: $neutral-color

  &.ok
    background-color: $positive-color

  &.warning
    background-color: $negative-color

  &.for_sale
    background-color: $positive-color

  &.discontinued
    background-color: $neutral-color

  &.not_for_sale
    background-color: $negative-color

.indicator.status
  font-size: 0.9em
  white-space: nowrap

/* -------------------------------------------------------------------------- */
/* PLACEHOLDER
/* Displays a message and links on pages where the user has yet to add records.
/* -------------------------------------------------------------------------- */
#placeholder
  text-align: center
  font-size: 1.8em
  margin-top: 5em
  color: $dark-grey

  a
    text-decoration: none
    font-weight: bold

/* -------------------------------------------------------------------------- */
/* PAGINATION
/* -------------------------------------------------------------------------- */
#pagination
  padding-top: 0.7em
  margin-left: 1em
  float: left

  li, a
    float: left

  a
    +unstyled-link
    +border-radius(0.2em)
    border: 0.1em solid $light-grey - 20
    padding: 0.3em 0.5em
    margin-right: 0.7em
    float: left

  .current-true a
    border-color: $neutral-color - 20
    color: $neutral-color - 40
    font-weight: bold

/* -------------------------------------------------------------------------- */
/* RECORD OVERVIEW
/* Displays at the top of a record 'show' template.
/* -------------------------------------------------------------------------- */
#content
  .overview
    padding: 1.5em 2% 0 2%
    width: 96%
    float: left

/* -------------------------------------------------------------------------- */
/* TAG CLOUD
/* -------------------------------------------------------------------------- */
#tag-cloud
  border-bottom: 0.1em solid $light-grey
  margin-bottom: 2em
  width: 100%
  float: left

  li, a
    float: left

#tag-cloud a,
.tag
  +unstyled-link
  +border-radius(0.3em)
  +islay-text-engraved(1px, 0.5)
  +background-image($dimension-raised-subtle)
  background-color: $tag-color
  border: 0.1em solid $tag-color - 25
  padding: 0.4em 1em 0.3em
  margin: 0 1em 1em 0

/* -------------------------------------------------------------------------- */
/* DELETE CONFIRMATION
/* -------------------------------------------------------------------------- */
body.delete #content
  margin: 4em 0 0 15% !important
  width: 60% !important


/* -------------------------------------------------------------------------- */
/* LOGIN SCREEN
/* -------------------------------------------------------------------------- */

body#login
  background: $side-bar-color
  color: #FFF

  .login-container
    +box-shadow(rgba(0,0,0,0.6) 0 0.5em 2em 0)
    background: #EEE
    border-top: 1px solid #FFF
    border-bottom: 1px solid #000
    color: #333
    width: 36em
    height: 16em
    position: absolute
    padding: 2em
    top: 50%
    left: 50%
    margin-left: -20em
    margin-top: -10em

    form
      float: left
      width: 100%
      padding: 2em 0 1em

    h2
      font-size: 1.8em

    label
      width: 10em

    input
      width: 16em

    .button-bar
      clear: both
      float: left
      width: 100%

      button
        float: right
        margin-right: 7.6em

    .help
      a
        text-decoration: none

/* -------------------------------------------------------------------------- */
/* UNIVERSAL 'IN PROGRESS'
/* -------------------------------------------------------------------------- */

.processing-marker
  +animate(spin)
  +border-radius(50%)
  display: block
  width: 1.3em
  height: 1.3em
  border: 0.4em dotted $mid-grey

td, th
  .processing-marker
    font-size: 0.6em
    display: inline-block
