$layout-header-height: 6rem
$nav-color: #333
$nav-foreground-color: #EEE
$nav-width: 12rem
$collapsed-nav-width: 2.5rem
$expanded-nav-width: $nav-width * 2

/* -------------------------------------------------------------------------- */
/* BODY SIZING
/* -------------------------------------------------------------------------- */
html
  height: 100%
  min-height: 100%

body
  background: $body-color
  color: $text-color
  min-height: 100%

  +for-phone
    margin: 0
    padding-top: $layout-breadcrumb-height

  +for-tablet
    margin: 0 0 0 $body-margin-left

  +for-large-desktop
    margin: 0 0 0 $expanded-nav-width



/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */

#footer
  bottom: 0
  height: $footer-height
  position: fixed
  right: 0
  z-index: 2

  &.is-pageable
    +display-flex
    justify-content: space-between

  +for-tablet
    left: $body-margin-left
  +for-large-desktop
    left: $expanded-nav-width

  +for-phone
    width: 100%

  .button[rel]
    +border-radius(0)
    background: transparent
    border: 0
    display: block
    height: $footer-height
    line-height: $footer-height
    padding: 0
    margin: 0
    position: relative
    overflow: hidden
    text-indent: -999rem
    width: $footer-height

    &:before
      +pos-absolute-fill
      text-indent: 0
      padding: 0

  .button[rel=next]
    +icon-caret-right
    border-left: 1px solid $light-grey

  .button[rel=prev]
    +icon-caret-left
    border-right: 1px solid $light-grey


.islay-content-header
  height: $sub-header-height

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
.islay-layout-header
  +box-sizing(border-box)
  background-color: darken($nav-color, 8)
  color: $light-grey
  height: $layout-header-height
  left: 0
  padding: 2rem 0
  position: fixed
  text-align: center
  top: 0
  z-index: 2
  width: $nav-width

  +for-large-desktop
    width: $expanded-nav-width

  a
    display: block
    +pos-absolute-fill

  h1
    display: inline-block
    margin: 0 auto
    text-indent: -999em
    background: image_url('islay/admin/islay-logo.svg') no-repeat center
    width: 80%
    height: 2rem

  h2
    display: none

  +for-phone
    display: none

.islay-layout-app-name
  +type-base
  font-weight: bold

.statuses
  border-bottom: 0
  margin-top: 0.5rem
  margin-left: $layout-gutter

  li
    display: inline-block

  .key
    display: none

  .value
    +border-radius(0.2em)
    +background-image($dimension-dished)
    padding: 0.25rem 0.6rem 0.2rem
    margin: 0 0 0.2rem 0

  li:first-child
    .key + .value
      margin-left: 0


/* -------------------------------------------------------------------------- */
/* ADD ITEM DIALOG
/* A little dialog that pops up with options for the user to add items.
/* -------------------------------------------------------------------------- */
.islay-add-item-menu
  width: 100%
  float: left

  li
    border-bottom: 0.1em solid $light-grey
    width: 100%
    float: left

  a
    +unstyled-link
    color: $link-color !important
    text-decoration: none !important
    padding: 0.8em 1.2em
    display: block

    &:hover
      color: white !important
      background: $link-color

  i
    text-align-center
    width: 1.1em
    font-size: 1.6em
    display: inline-block !important

  strong
    font-size: 1.4em

/* -------------------------------------------------------------------------- */
/* RECORD NAME
/* To be displayed in at the top of record overviews and forms.
/* -------------------------------------------------------------------------- */
.islay-record-name
  +box-sizing(border-box)
  padding: 1.6em 0 1.4em $layout-gutter + 2rem
  position: relative
  width: 100%

  +for-phone
    padding-left: 3.5rem

  i
    +pos-absolute(0.5rem, false, 0, 1.5rem)
    font-size: 2em
    height: 2rem
    margin: auto 0

    +for-phone
      left: 1rem

  span
    +type-large
    font-weight: bold
    display: block

    +for-phone
      font-size: 1.15rem
      strong
        font-size: 1rem

    strong
      color: $text-color-subtle
      display: inline-block
      margin-bottom: 0.5rem



/* -------------------------------------------------------------------------- */
/* GENERAL PURPOSE CLEAR/GROUP
/* -------------------------------------------------------------------------- */
.panel
  +clear-fix

/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */
#footer,
.table-footer
  background: $body-color
  border-top: 1px solid $light-grey

  .default-controls,
  .selection-controls
    float: left
    height: 100%
    width: 100%

  .default-controls
    display: block

  .selection-controls
    display: none

  .button, button
    margin: 0.6em 0 0 1em

  .edit,
  .delete,
  .save
    float: right
    margin: 0.6em 1em 0 0

  .move-up,
  .move-down
    margin: 0.5em 0 0 0
    float: left
    padding-right: 0.2em

    span
      +hide

    &:before
      font-family: Icons

  .move-up
    +icon-caret-up
    +border-top-left-radius(0)
    +border-bottom-left-radius(0)
    border-left-color: $button-secondary-color + 20

  .move-down
    +icon-caret-down
    +border-top-right-radius(0)
    +border-bottom-right-radius(0)
    border-left-width: 0

.selection-controls
  +background-image(linear-gradient($selected-background-color + 80, $selected-background-color + 60))

  .position-controls
    float: left
    padding-left: 1em
    label
      float: left
      font-size: 0.9em
      color: #FFF
      padding: 1.35em 1em 0 0

.table-footer
  float: left
  width: 100%
  .position-controls
    padding-bottom: 0.5em

.has-selection
  #footer,
  .table-footer
    .default-controls
      display: none

    .selection-controls
      display: block


/* -------------------------------------------------------------------------- */
/* INDICATOR
/* For statuses and counts.
/* -------------------------------------------------------------------------- */
span.indicator
  +border-radius(0.2em)
  text-transform: uppercase
  background-color: $mid-grey
  color: white
  text-align: center
  font-family: $alternate-font-family
  font-weight: $alternate-font-weight
  padding: 0.3em 0.4em
  float: left

  &.neutral
    background-color: $neutral-color

  &.ok
    background-color: $positive-color

  &.warning
    background-color: $negative-color

  &.for_sale
    background-color: $positive-color

  &.discontinued
    background-color: $neutral-color

  &.not_for_sale
    background-color: $negative-color

.indicator.status
  font-size: 0.9em
  white-space: nowrap

/* -------------------------------------------------------------------------- */
/* PLACEHOLDER
/* Displays a message and links on pages where the user has yet to add records.
/* -------------------------------------------------------------------------- */
#placeholder
  text-align: center
  font-size: 1.8em
  margin-top: 5em
  color: $dark-grey

  a
    text-decoration: none
    font-weight: bold

/* -------------------------------------------------------------------------- */
/* PAGINATION
/* -------------------------------------------------------------------------- */
#pagination
  padding-top: 0.7em
  margin-left: 1em
  float: left

  li, a
    float: left

  a
    +unstyled-link
    +border-radius(0.2em)
    border: 0.1em solid $light-grey - 20
    padding: 0.3em 0.5em
    margin-right: 0.7em
    float: left

  .current-true a
    border-color: $neutral-color - 20
    color: $neutral-color - 40
    font-weight: bold


/* -------------------------------------------------------------------------- */
/* TAG CLOUD
/* -------------------------------------------------------------------------- */
#tag-cloud
  border-bottom: 0.1em solid $light-grey
  margin-bottom: 2em
  width: 100%
  float: left

  li
    display: inline-block
    margin-bottom: 0!important

  a
    display: block

.tags
  margin-bottom: 0.5rem

#tag-cloud a,
.tag
  +unstyled-link
  +border-radius(0.3em)
  +type-extra-small
  background-color: $tag-color
  border: 1px solid $tag-border-color
  padding: 0.25rem 0.6rem 0.2rem
  margin: 0 0 0.2rem 0


/* -------------------------------------------------------------------------- */
/* UNIVERSAL 'IN PROGRESS'
/* -------------------------------------------------------------------------- */

.processing-marker
  +animate(spin)
  +border-radius(50%)
  display: block
  width: 1.3em
  height: 1.3em
  border: 0.4em dotted $mid-grey

td, th
  .processing-marker
    font-size: 0.6em
    display: inline-block
