@import compass/layout/stretching
@import compass/css3

/* -------------------------------------------------------------------------- */
/* MEASUREMENTS
/* -------------------------------------------------------------------------- */
$header-height: 2.8em
$sub-header-height: 3em
$footer-height: 3.2em
$body-margin-left: 13.5em

/* -------------------------------------------------------------------------- */
/* COLORS
/* -------------------------------------------------------------------------- */
$body-color: white
$alt-body-color: #F9F9F9
$side-bar-color: #232323
$light-grey: #E1E1E1
$mid-grey: #979797
$dark-grey: #666
$highlight-color: #2C5A8D
$positive-color: #39A22B
$negative-color: #C42217
$neutral-color: #439DF3
$header-border-color: #C2CBD5

/* -------------------------------------------------------------------------- */
/* MIXINS
/* -------------------------------------------------------------------------- */
@mixin islay-text-shadow($offset: 1px)
  +text-shadow(rgba(255, 255, 255, 0.9) $offset $offset 0)

@mixin hide
  position: absolute
  left: -1000em

/* -------------------------------------------------------------------------- */
/* BODY SIZING
/* -------------------------------------------------------------------------- */
body
  background: $body-color
  margin: $header-height 0 0 $body-margin-left

body.has-footer #content
  margin-bottom: $footer-height + 1em !important

body.has-sub-header
  margin-top: $header-height + $sub-header-height

/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */
#main-header
  position: absolute
  left: -1000em

#side-bar
  border-right: 0.1em solid #CCC - 10
  width: $body-margin-left
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 2

  form
    height: $sub-header-height

#header,
#sub-header,
#footer
  position: fixed
  left: $body-margin-left
  right: 0

#header
  top: 0
  height: $header-height
  z-index: 2

#sub-header
  top: $header-height
  height: $sub-header-height
  z-index: 1

#footer
  height: $footer-height
  bottom: 0
  z-index: 1

#content
  width: 100%
  float: left

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
#header
  background: #F3F3F3
  border-bottom: 0.1em solid #B7B9C6

  h1
    +islay-text-shadow
    font-size: 1.2em
    margin: 0.65em 0 0 0.6em
    float: left

    &.hide
      +hide

  a
    +unstyled-link

  ul, li, a
    float: left

  ul.nav
    a
      +text-shadow(white 1px 1px 1px)
      font-weight: bold
      color: $dark-grey
      padding: 0.85em 0.8em 0 0.8em
      height: $header-height - 0.75em

      &:before
        font-size: 1.2em
        font-family: icons
        margin-right: 0.4em
        font-weight: normal

      &.current
        +background-image(linear-gradient(#4D7BAE, $highlight-color + 15))
        +text-shadow(rgba(0, 0, 0, 0.3) -1px -1px 1px)
        color: white

      &.overview
        +icon-eye

      &.folder
        +icon-folder

      &.overview
        +icon-eye

      &.basket
        +icon-basket

      &.assets
        +icon-picture

    li:first-child a
      border-left-width: 0

  ul.controls
    margin: 0.4em 1.6em 0 0
    float: right

    a
      background: transparent
      border-width: 0
      margin-left: 0.8em
      padding-left: 0
      padding-right: 0

/* -------------------------------------------------------------------------- */
/* SUB HEADER
/* -------------------------------------------------------------------------- */
#sub-header
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-bottom: 0.1em solid $header-border-color

  h2
    +islay-text-shadow
    font-weight: bold
    font-size: 1.1em
    margin-left: 0.6em
    margin-top: 0.95em
    float: left

    strong
      color: $dark-grey

/* -------------------------------------------------------------------------- */
/* FILTERS
/* Filters listings of records
/* -------------------------------------------------------------------------- */
#sub-header,
.dialog
  ul.filters,
  ul.sort
    margin: 0.7em 1em 0 0.5em
    padding-left: 1em
    float: right

    &:before
      color: $mid-grey
      font-family: icons
      font-size: 1.8em
      margin-right: 0.3em
      margin-top: 0.05em
      float: left

    li, a
      float: left

    a
      +border-radius(0.4em)
      +unstyled-link
      color: $dark-grey
      border: 0.1em solid transparent
      padding: 0.35em 0.6em

      &.current
        color: black
        background-color: $light-grey
        border-color: $mid-grey

  ul.sort
    border-left: 0.1em solid $mid-grey

    &:before
      content: "☰"

  ul.filters
    li
      position: relative

    .link
      margin-right: 0.4em
      float: left

    .count
      +border-radius(0.3em)
      background: $positive-color
      color: white
      font-size: 0.85em
      padding: 0.2em 0.4em
      float: right

    &:before
      content: "⚏"

/* -------------------------------------------------------------------------- */
/* SIDE BAR
/* -------------------------------------------------------------------------- */
#side-bar
  background: $side-bar-color

  form
    border-bottom: 0.1em solid $side-bar-color - 10
    height: $header-height
    width: 100%
    float: left

    input
      +border-radius(2em)
      +single-box-shadow($side-bar-color - 7, 0, 0, 0.3em, 0, true)
      color: white
      background: $side-bar-color + 30
      border: 0.1em solid $side-bar-color - 6
      width: $body-margin-left - 1.8em
      margin-left: 1em
      margin-top: 0.5em
      padding: 0.6em 1em

  ul
    border-top: 0.1em solid $side-bar-color + 6
    border-bottom: 0.1em solid $side-bar-color - 10
    width: 1005
    padding-top: 0.8em
    padding-bottom: 0.8em
    float: left

  li, a
    width: 100%
    float: left

  a
    +text-shadow(rgba(0, 0, 0, 0.4) -1px -1px 1px)
    color: white !important
    text-decoration: none !important
    border-top: 0.1em solid transparent
    border-bottom: 0.1em solid transparent
    padding: 0.5em 0
    text-indent: 1.2em

    &:before
      font-family: icons
      font-size: 1.2em
      margin-right: 0.5em

    &.current
      +background-image(linear-gradient(#4D7BAE, $highlight-color))
      border-top-color: #6997CA
      border-bottom-color: $side-bar-color - 10

#dashboard-nav
  +icon-home

#asset-library-nav
  +icon-picture

#users-nav
  +icon-users

#current-user
  position: absolute
  left: 1em
  bottom: 1em
  color: white

/* -------------------------------------------------------------------------- */
/* CONTENT
/* -------------------------------------------------------------------------- */
#content.inset
  margin-left: 2%
  margin-right: 2%
  margin-top: 1.5em
  width: 96%

/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */
#footer
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-top: 0.1em solid #C2CBD5

  .button
    margin: 0.5em 0 0 1em

  .edit,
  .delete,
  .save
    float: right
    margin: 0.5em 1em 0 0

/* -------------------------------------------------------------------------- */
/* GRID
/* -------------------------------------------------------------------------- */
$column-count: 12
$gutter-count: $column-count - 1
$gutter-width: 1.5%
$column-width: (100% - ($gutter-width * $gutter-count)) / $column-count

#content
  .column
    width: 100%
    float: left

    &:last-child
      margin-right: 0

  .last
    margin-right: 0 !important

// Construct the classes for setting the widths of columns
$i: 0
@while $i < $column-count
  $j: $i
  $i: $i + 1
  #content .count-#{$i}
    width: $column-width * $i + $gutter-width * $j
    margin-right: $gutter-width

/* -------------------------------------------------------------------------- */
/* BUTTONS
/* -------------------------------------------------------------------------- */
a.button,
button
  +border-radius(0.3em)
  +background-image(linear-gradient(white, $light-grey))
  +box-shadow(rgba(0, 0, 0, 0.05), -1px -1px 1px)
  +islay-text-shadow
  color: #222
  font-weight: bold
  border: 0.1em solid #C2CBD5 - 18
  padding: 0.5em 0.8em 0.35em 0.6em
  float: left

  &:before
    font-family: icons
    font-weight: normal
    font-size: 1.1em
    padding-right: 0.4em
    color: $dark-grey

button
  padding: 0.45em 0.8em 0.3em 0.6em

.button
  &.new:before
    content: "➕"

  &.upload:before
    content: "↑"

  &.edit:before
    content: "✎"

  &.delete:before
    content: "➖"

button.save,
.button.delete,
.button.edit
  +text-shadow(rgba(0, 0, 0, 0.3) -1px -1px 2px)
  color: white

  &:before
    color: white

button.save
  +background-image(linear-gradient(#4D7BAE, $highlight-color - 10))
  font-size: 1em
  border-color: #395C7F

  &:before
    content: '⚡'

.button.delete
  +background-image(linear-gradient(#FF1646, #B2000C))
  border-color: #A62325

.button.edit
  +background-image(linear-gradient(#38B347, #1D8329))
  border-color: #448844

a.button
  text-decoration: none

/* -------------------------------------------------------------------------- */
/* TABLE
/* -------------------------------------------------------------------------- */
table
  border-bottom: 0.1em solid $light-grey
  background: white
  width: 100%
  float: left

  th.select span
    +hide

  .select
    padding-left: 0
    padding-right: 0
    width: 2.5em
    text-align: center

    input
      margin: 0

thead th
  text-transform: uppercase
  border-bottom: 0.1em solid $light-grey
  color: $dark-grey
  font-size: 0.85em
  padding: 1.2em 1em

td
  padding: 0.8em 1em

tr:nth-child(even)
  td, th
    background-color: #F7F8F9

th.control
  text-indent: -1000em
  letter-spacing: -1000em
  width: 4em

th,
td
  border-left: 0.1em solid $light-grey
  vertical-align: top

tr th:first-child,
tr td:first-child
  border-left-width: 0

/* TABLE LEVELS/INDENTATION */
table
  .level-1 .title,
  .level-2 .title,
  .level-3 .title,
  .level-4 .title
    border-left: 0.1em solid $mid-grey
    padding-left: 1em

  .level-1 .title
    margin-left: 1em

  .level-2 .title
    margin-left: 2em

  .level-3 .title
    margin-left: 3em

  .level-4 .title
    margin-left: 4em


/* -------------------------------------------------------------------------- */
/* PAGINATION
/* -------------------------------------------------------------------------- */
#pagination
  padding-top: 0.7em
  margin-left: 1em
  float: left

  li, a
    float: left

  a
    +unstyled-link
    +border-radius(0.2em)
    border: 0.1em solid $light-grey - 20
    padding: 0.3em 0.5em
    margin-right: 0.7em
    float: left

  .current-true a
    border-color: $neutral-color - 20
    color: $neutral-color - 40
    font-weight: bold
