@import compass/layout/stretching
@import compass/css3

/* -------------------------------------------------------------------------- */
/* MEASUREMENTS
/* -------------------------------------------------------------------------- */
$header-height: 2.8em
$sub-header-height: 3em
$footer-height: 3.2em
$body-margin-left: 13.5em

/* -------------------------------------------------------------------------- */
/* COLORS
/* -------------------------------------------------------------------------- */
$body-color: white
$alt-body-color: #F9F9F9
$side-bar-color: #232323
$light-grey: #E1E1E1
$dark-grey: #666
$highlight-color: #2C5A8D
$positive-color: #39A22B
$negative-color: #C42217

/* -------------------------------------------------------------------------- */
/* MIXINS
/* -------------------------------------------------------------------------- */
@mixin islay-text-shadow($offset: 1px)
  +text-shadow(rgba(255, 255, 255, 0.9) $offset $offset 0)

@mixin hide
  position: absolute
  left: -1000em

/* -------------------------------------------------------------------------- */
/* BODY SIZING
/* -------------------------------------------------------------------------- */
body
  background: $body-color
  margin: $header-height 0 0 $body-margin-left

body.has-footer #content
  margin-bottom: $footer-height + 1em

body.has-sub-header #content
  margin-top: $sub-header-height

/* -------------------------------------------------------------------------- */
/* MAIN CONTENT BLOCKS
/* -------------------------------------------------------------------------- */
#main-header
  position: absolute
  left: -1000em

#side-bar
  border-right: 0.1em solid #CCC - 10
  width: $body-margin-left
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 2

  form
    height: $sub-header-height

#header,
#sub-header,
#footer
  position: fixed
  left: $body-margin-left
  right: 0

#header
  top: 0
  height: $header-height
  z-index: 2

#sub-header
  top: $header-height
  height: $sub-header-height
  z-index: 1

#footer
  height: $footer-height
  bottom: 0
  z-index: 1

#content
  width: 100%
  float: left

/* -------------------------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------------------------- */
#header
  background: #F3F3F3
  border-bottom: 0.1em solid #B7B9C6

  h1
    +islay-text-shadow
    font-size: 1.2em
    margin: 0.8em 0 0 0
    float: left

  a
    +unstyled-link

  ul, li, a
    float: left

  ul.nav
    a
      border-left: 1px solid transparent
      border-right: 1px solid transparent
      font-weight: bold
      color: $dark-grey
      padding: 0.85em 0.6em 0 0.6em
      height: $header-height - 0.85em

      &:before
        margin-right: 0.4em
        font-weight: normal

      &.current
        +background-image(linear-gradient(#D8D8D8, #C7C7C7))
        border-color: #B7B9C6
        color: black

    li:first-child a
      border-left-width: 0

  ul.controls
    margin: 0.55em 1em 0 0
    float: right

    a
      +border-radius(0.2em)
      +background-image(linear-gradient(#FFFFFF, #ECECEC - 10))
      +islay-text-shadow
      +box-shadow(rgba(255, 255, 255, 1) 1px 1px 0 1px, rgba(0, 0, 0, 0.04) -1px -1px 0 0)
      border: 0.1em solid #C2CBD5 - 18
      padding: 0.35em 0.8em 0.35em 0.6em
      margin-left: 0.5em

      &:before
        font-size: 1.1em
        padding-right: 0.3em
/* -------------------------------------------------------------------------- */
/* SUB HEADER
/* -------------------------------------------------------------------------- */
#sub-header
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-bottom: 0.1em solid #C2CBD5

  h2
    +islay-text-shadow
    font-weight: bold
    margin-left: 1em
    float: left

  li, a
    float: left

  a
    +unstyled-link

  h2
    margin-top: 0.85em



/* -------------------------------------------------------------------------- */
/* SIDE BAR
/* -------------------------------------------------------------------------- */
#side-bar
  background: $side-bar-color

  form
    border-bottom: 0.1em solid $side-bar-color - 10
    height: $header-height
    width: 100%
    float: left

    input
      +border-radius(2em)
      +single-box-shadow($side-bar-color - 7, 0, 0, 0.3em, 0, true)
      color: white
      background: $side-bar-color + 30
      border: 0.1em solid $side-bar-color - 6
      width: $body-margin-left - 1.8em
      margin-left: 1em
      margin-top: 0.75em
      padding: 0.6em 1em

  ul
    border-top: 0.1em solid $side-bar-color + 6
    border-bottom: 0.1em solid $side-bar-color - 10
    width: 1005
    padding-top: 0.8em
    padding-bottom: 0.8em
    float: left

  li, a
    width: 100%
    float: left

  a
    +text-shadow(rgba(0, 0, 0, 0.4) -1px -1px 1px)
    color: white !important
    text-decoration: none !important
    border-top: 0.1em solid transparent
    border-bottom: 0.1em solid transparent
    padding: 0.5em 0
    text-indent: 1.2em

    &:before
      font-size: 1.2em
      margin-right: 0.5em

    &.current
      +background-image(linear-gradient(#4D7BAE, $highlight-color))
      border-top-color: #6997CA
      border-bottom-color: $side-bar-color - 10

#current-user
  position: absolute
  left: 1em
  bottom: 1em
  color: white

/* -------------------------------------------------------------------------- */
/* FOOTER
/* -------------------------------------------------------------------------- */
#footer
  +background-image(linear-gradient(#FFFFFF, #ECECEC))
  border-top: 0.1em solid #C2CBD5

/* -------------------------------------------------------------------------- */
/* GRID
/* -------------------------------------------------------------------------- */
$column-count: 12
$gutter-count: $column-count - 1
$gutter-width: 1.5%
$column-width: (100% - $gutter-width * $gutter-count) / $column-count

#content .column
  width: 100%
  float: left

  &:last-child
    margin-right: 0

// Construct the classes for setting the widths of columns
$i: 0
@while $i < $column-count
  $j: $i
  $i: $i + 1
  #content .count-#{$i}
    width: $column-width * $i + $gutter-width * $j
    margin-right: $gutter-width

/* -------------------------------------------------------------------------- */
/* TABLE
/* -------------------------------------------------------------------------- */
table
  width: 100%
  float: left

thead th
  text-transform: uppercase
  border-bottom: 0.2em solid $light-grey
  color: $dark-grey
  font-size: 0.85em
  padding: 1.2em 0

td
  border-bottom: 0.1em solid $light-grey
  padding: 0.8em 0

tr td:first-child
  text-indent: 0.3em
  font-weight: bold

th.control
  text-indent: -1000em
  letter-spacing: -1000em
  width: 4em

tr th:first-child,
tr td:first-child
  padding-left: 1.2em

/* -------------------------------------------------------------------------- */
/* SUB-NAV
/* Used to navigate each section and in dialogs
/* -------------------------------------------------------------------------- */
.dialog .filter li
.sub-nav a
  +border-radius(0.3em)
  border: 0.1em solid transparent
  cursor: pointer
  margin-top: 0.6em
  padding: 0.5em 0.9em
  font-weight: bold
  color: $dark-grey
  float: left

.sub-nav,
.dialog .filter
  margin-left: 1em
  float: left

  .selected
    +background-image(linear-gradient(#D2D2D2, #DEDEDE))
    border-color: #BABABA
    color: black

.sub-nav
  li
    float: left

  a
    +unstyled-link
