@import compass/typography

body
  font-family: $default-font-family
  font-size: 13px
  -webkit-font-smoothing: antialiased

a
  color: $link-color
  text-decoration: none
  &:visited
    color: $link-visited-color
  &:hover,
  &:focus
    color: $link-hover-color
    text-decoration: underline
  &:active
    color: $link-active-color

#content
  h3,
  th
    font-family: $alternate-font-family

  h3
    font-family: $alternate-font-family
    color: $dark-grey
    font-size: 1.2em
    text-transform: uppercase
    letter-spacing: 0.02em
    margin-bottom: 0.6em
    width: 100%
    float: left

  p, li
    margin-bottom: 1.2em
    line-height: 1.6

  .summary
    padding-top: 1.2em

    p, li
      margin-bottom: 0.6em

    p:last-child,
    ul:last-child
      margin-bottom: 0

    .key
      color: lighten($dark-grey, 10)
      display: inline-block
      min-width: 4em




