@import compass/typography

body
  font-family: $default-font-family
  font-size: 13px
  -webkit-font-smoothing: anti-aliased


a
  color: $link-color
  &:visited
    color: $link-visited-color
  &:hover,
  &:focus
    color: $link-hover-color
  &:active
    color: $link-active-color

#content
  h3,
  th
    font-family: $alternate-font-family

  h3
    font-family: $alternate-font-family
    color: $dark-grey
    font-size: 1.2em
    text-transform: uppercase
    letter-spacing: 0.02em
    margin-bottom: 0.6em
    width: 100%
    float: left
