@import compass/typography

body
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 13px
  -webkit-font-smoothing: anti-aliased


a
  color: $link-color
  &:visited
    color: $link-visited-color
  &:hover,
  &:focus
    color: $link-hover-color
  &:active
    color: $link-active-color



#content
  h3
    font-family: 'Dosis Medium'
    color: $dark-grey
    font-size: 1.1em
    text-transform: uppercase
    letter-spacing: 0.07em
    margin-bottom: 0.8em
    width: 100%
    float: left
